th {
    border: 1px solid black;
}

thead {
    background-color: aquamarine;
}

td {
    background-color: lightgreen !important;
    border: 1px dashed grey;
}

.red {
    color: tomato !important;
}
.wide {
    width: 330px !important;
}

body {
    background-image: url(./hotel.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}